*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
    background-color: rgb(0, 136, 255);
    background-image: url(../img/pattern.png);
    background-size: contain;
}
.logo{
    height: 50px;
    margin-top: 50px;
}
.autore{
    color: #808080;
}
.titolo{
    color: #3cb4e7;
}
.didascalia{
    font-size: 0.6em;
}
.evidenziato{
    background-color: yellow;
}
ul{
    padding-left: 20px;
}
table{
    border-collapse: collapse;
}
thead{
    background-color: #20a9e5;
    color: white;
    text-align: left;
}
.riga-azzurra{
    background-color: #b1e5f2;
}
.cella{
    width: 25%;
}
.cella2{
    width: 50%;
}